force-app/main/default/flows/awsapn__APN_Synchronization_Failure_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Synchronization_Failure_Notification</name>
        <label>Send Synchronization Failure Notification</label>
        <locationX>286</locationX>
        <locationY>1104</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Fetch_Custom_Notifcation_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecepients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Append_Notification_Recepient</name>
        <label>Append Notification Recepient</label>
        <locationX>374</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecepients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fetch_Notification_Recepients.AssigneeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Notification_Recepients</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Business_Administrator_Users_exist</name>
        <label>Business Administrator Users exist</label>
        <locationX>418</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Business_Administrator_Users</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Notification_Recepients</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow template for triggering notification to APN Business Administrator persona on
        APN Synchronization failures</description>
    <environments>Default</environments>
    <formulas>
        <name>DirectionText</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.awsapn__Direction__c}),
            &quot;Inbound&quot;, &quot;Inbound&quot;,
            &quot;Outbound&quot;, &quot;Outbound&quot;,
            &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.awsapn__Direction__c}),
            &quot;Inbound&quot;, &quot;Inbound synchronization failure. Please review the sync log record for details.&quot;,
            &quot;Outbound&quot;, &quot;Outbound synchronization failure. Please review the sync log record for details.&quot;,
            &quot;Synchronization failure. Please review the sync log record for details.&quot;)</expression>
    </formulas>
    <formulas>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;APN Synchronization Error for &apos; + {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>APN Synchronization Failure Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>APN Synchronization Failure Notification</label>
    <loops>
        <name>Fetch_Notification_Recepients</name>
        <label>Fetch Notification Recepients</label>
        <locationX>286</locationX>
        <locationY>768</locationY>
        <collectionReference>Fetch_Business_Administrator_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_Notification_Recepient</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Synchronization_Failure_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Business_Administrator_Permission</name>
        <label>Fetch Business Administrator Permission</label>
        <locationX>418</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Business_Administrator_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>awsapn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APN_Business_Admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Business_Administrator_Users</name>
        <label>Fetch Business Administrator Users</label>
        <locationX>418</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_Administrator_Users_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Business_Administrator_Permission.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssigneeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Custom_Notifcation_Type</name>
        <label>Fetch Custom Notifcation Type</label>
        <locationX>418</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Business_Administrator_Permission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>awsapn</stringValue>
            </value>
        </filters>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Synchronization Failure</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>awsapn__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <filters>
            <field>awsapn__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partial</stringValue>
            </value>
        </filters>
        <object>awsapn__Sync_Log__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Fetch_Custom_Notifcation_Type</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>NotificationRecepients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecepientUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
