force-app/main/default/flows/Calculate_T2_Amount_Roll_Up_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_UK_US</name>
        <label>Is UK / US?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.CV_Subsiduary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.CV_Subsiduary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>T2_Result</name>
        <label>T2 Result</label>
        <locationX>534</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>T2_0_Decision</name>
            <conditionLogic>(1 AND 2) OR ((3 OR 4) AND 5 AND 6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Products.Revenue_Type_Formula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Consulting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.Revenue_Type_Formula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Managed Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.Revenue_Type_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.Revenue_Type_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Managed Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.Renewal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.Renewal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade (Same Platform)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.License_Start_date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ProjectStartDate365</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>T2_0</targetReference>
            </connector>
            <label>T2 =0</label>
        </rules>
        <rules>
            <name>T2_Full_Amount_Decision</name>
            <conditionLogic>(1 OR 2) AND ((3 OR 4) OR (5 AND 6 AND 7))</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Products.Revenue_Type_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.Revenue_Type_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Managed Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade (Same Platform)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.Renewal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.Renewal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade (Same Platform)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.License_end_date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>ProjectStartDate365</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>T2_Full_Amount</targetReference>
            </connector>
            <label>T2 Full Amount</label>
        </rules>
        <rules>
            <name>T2_Calculation_Decision</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Products.Revenue_Type_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.Revenue_Type_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Managed Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.Renewal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.Renewal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade (Same Platform)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.License_Start_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ProjectStartDate365</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.License_end_date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ProjectStartDate365</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>T2_Calculation</targetReference>
            </connector>
            <label>T2 Calculation</label>
        </rules>
    </decisions>
    <description>This autolaunched Roll-Up Flow calculates the T2 Attainment amount on product from an opportunity</description>
    <environments>Default</environments>
    <formulas>
        <name>ProjectStartDate365</name>
        <dataType>Date</dataType>
        <expression>{!Get_Project.Project_Start_Date_new__c}+ 365</expression>
    </formulas>
    <formulas>
        <name>T2Calculation</name>
        <dataType>Currency</dataType>
        <expression>((({!Get_Project.Project_Start_Date_new__c}+ 365 -  {!Loop_Products.License_Start_date__c} ) / {!Loop_Products.days__c}) * {!Loop_Products.Total_List_Price_Incl_Discount__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calculate T2 Amount + Roll Up from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate T2 Amount  from Opportunity</label>
    <loops>
        <name>Loop_Products</name>
        <label>Loop Products</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>T2_Result</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_UK_US</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>T2_0</name>
        <label>T2 0</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>T2_Attainment_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>T2_Calculation</name>
        <label>T2 Calculation</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>T2_Attainment_Amount__c</field>
            <value>
                <elementReference>T2Calculation</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>T2_Full_Amount</name>
        <label>T2 Full Amount</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>T2_Attainment_Amount__c</field>
            <value>
                <elementReference>Loop_Products.Total_List_Price_Incl_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
