force-app/main/default/flows/Case_Update_Creation_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Has_Jira_Email_AND_Account</name>
        <label>Has Jira Email AND Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Jira_Email_but_No_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Has Jira Email AND Account</defaultConnectorLabel>
        <rules>
            <name>TRUE_Has_Jira_Email_AND_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Jira_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Jira_Account_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>TRUE_Has Jira Email AND Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Jira_Email_but_No_Account</name>
        <label>Has Jira Email but No Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>web_email_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Has Jira Email but No Account</defaultConnectorLabel>
        <rules>
            <name>TRUE_Has_Jira_Email_but_No_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Jira_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Jira_Account_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>TRUE_Has Jira Email but No Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_6</name>
        <label>Created from task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Jira_Email_AND_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Created from task</defaultConnectorLabel>
        <rules>
            <name>TRUE_Created_from_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Created_from_Task__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>TRUE_Created from task</label>
        </rules>
    </decisions>
    <decisions>
        <name>no_reply_am_atlassian_com</name>
        <label>no_reply@am.atlassian.com</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_no_reply@am.atlassian.com</defaultConnectorLabel>
        <rules>
            <name>TRUE_no_reply_am_atlassian_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>no_reply@am.atlassian.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Atlassian renewals due soon for</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>TRUE_no_reply@am.atlassian.com</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_New_Case</name>
        <label>Record Type New Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>no_reply_am_atlassian_com</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Record Type New Case</defaultConnectorLabel>
        <rules>
            <name>Record_Type_New_Case_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_License_Query</targetReference>
            </connector>
            <label>Record Type New Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>web_email_not_null</name>
        <label>web email not null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>FALSE_web email not null</defaultConnectorLabel>
        <rules>
            <name>TRUE_web_email_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contact_2</targetReference>
            </connector>
            <label>TRUE_web email not null</label>
        </rules>
    </decisions>
    <description>Migrated from the Case Update (Creation) process using multiple criteria.
Fire any automation on job creation</description>
    <environments>Default</environments>
    <formulas>
        <name>OppIdFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Created_from_task_Opportunity_ID__c}</expression>
    </formulas>
    <formulas>
        <name>OwnerIdFormula</name>
        <dataType>String</dataType>
        <expression>IF ( 
OR(ISPICKVAL({!$Record.Jira_Request_Type__c}, &quot;Proposal Requests&quot;) , 
ISPICKVAL({!$Record.Type} ,&quot;Proposal Request&quot;)) , &quot;00G1n0000067RPh&quot; , &quot;00G1n0000067Clh&quot; )</expression>
    </formulas>
    <label>Case Update (Creation)_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>myRule_6_A1</name>
        <label>Link to Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Jira_Email_AND_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OppIdFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Cases_to_Opportunities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Assign_Case</name>
        <label>Assign Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>no_reply_am_atlassian_com</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_4_A1</name>
        <label>Close Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_6</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>No Action Pass Through</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_License_Query</name>
        <label>Update New License Query</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Upgrade_Downgrade_Query</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Jira_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New license requests</stringValue>
            </value>
        </filters>
        <filters>
            <field>Jira_Sales_Licence_request_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New License Query</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_proposal_Request</name>
        <label>Update proposal Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Jira_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal Requests</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Proposal Request</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Query</name>
        <label>Update Renewal Query</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Renewal_Query_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Jira_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New license requests</stringValue>
            </value>
        </filters>
        <filters>
            <field>Jira_Sales_Licence_request_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Net New renewal</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal Query</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Query_2</name>
        <label>Update Renewal Query 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_proposal_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Jira_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CV Renewal</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal Query</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Upgrade_Downgrade_Query</name>
        <label>Update Upgrade/Downgrade Query</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Renewal_Query</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Jira_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New license requests</stringValue>
            </value>
        </filters>
        <filters>
            <field>Jira_Sales_Licence_request_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upgrade</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Upgrade/Downgrade Query</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_New_Case</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Update_Contact_from_email_address_and_Account</flowName>
        <inputAssignments>
            <name>Start_CaseID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Start_WebEmailaddress</name>
            <value>
                <elementReference>$Record.Jira_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StartAccountID</name>
            <value>
                <elementReference>$Record.Jira_Account_ID__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_contact_2</name>
        <label>Get contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Update_Contact_from_email_address</flowName>
        <inputAssignments>
            <name>Start_CaseID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Start_WebEmailaddress</name>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>myRule_11_A1</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Update_Contact_from_email_address</flowName>
        <inputAssignments>
            <name>Start_CaseID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Start_WebEmailaddress</name>
            <value>
                <elementReference>$Record.Jira_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
