force-app/main/default/flows/Create_All_Splits_T1_T2_T3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Account_Owner_is_different</name>
        <label>Account Owner is different</label>
        <locationX>226</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>NEEDS_T3_SPLITS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_AccountOwnerDifferent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_T2_Account_Owner_Splits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Owner_is_different2</name>
        <label>Account Owner is different</label>
        <locationX>226</locationX>
        <locationY>3239</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Run_Splits_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_AccountOwnerDifferent2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_T3_Account_Owner_Splits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Owner_is_different3</name>
        <label>Account Owner is different</label>
        <locationX>226</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>NEEDS_T2_SPLITS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AccountOwnerDifferent3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_T1_Account_Owner_Splits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_T1_Account_Owner</name>
        <label>Has T1 Account Owner</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Create_T1_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_T1AccountOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_T1_Account_Owner_Splits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NEEDS_T2_SPLITS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_T1_Owner_Split</name>
        <label>Has T1 Owner Split</label>
        <locationX>226</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_T1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_T1OWNER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_T1_Owner_Splits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Owner_is_different3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_T2_Account_Owner</name>
        <label>Has T2 Account Owner</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Create_T2_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_T2AccountOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_T2_Account_Owner_Splits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NEEDS_T3_SPLITS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_T2_Owner</name>
        <label>Has T2 Owner</label>
        <locationX>226</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Create_T2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_T2owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_T2_Owner_Splits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Owner_is_different</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_T3_Account_Owner</name>
        <label>Has T3 Account Owner</label>
        <locationX>50</locationX>
        <locationY>3455</locationY>
        <defaultConnector>
            <targetReference>Create_T3_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_T3AccountOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_T3_Account_Owner_Splits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Run_Splits_Flow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_T3_Owner_Split</name>
        <label>Has T3 Owner Split</label>
        <locationX>226</locationX>
        <locationY>2939</locationY>
        <defaultConnector>
            <targetReference>Create_T3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_T3_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_T3_Owner_Splits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Owner_is_different2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NEEDS_T1_SPLITS</name>
        <label>NEEDS T1 SPLITS</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>NEEDS_T2_SPLITS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES_T1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.T1_Opp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_T1_Owner_Splits</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>NEEDS_T2_SPLITS</name>
        <label>NEEDS T2 SPLITS</label>
        <locationX>402</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>NEEDS_T3_SPLITS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_NEEDST2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Amount_T2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Amount_T2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_T2_Owner_Splits</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>NEEDS_T3_SPLITS</name>
        <label>NEEDS T3 SPLITS</label>
        <locationX>402</locationX>
        <locationY>2723</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Run_Splits_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES_NEEDST3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Amount_T3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Amount_T3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_T3_Owner_Splits</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>This flows create all splits records (T1 T2 T3 for opp and account owner) when missing when &quot;Run Splits Flow&quot; checkbox is checked</description>
    <environments>Default</environments>
    <interviewLabel>Create All Splits (T1 T2 T3) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create All Splits (T1 T2 T3)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_T1</name>
        <label>Create T1</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Account_Owner_is_different3</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitOwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitPercentage</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitTypeId</field>
            <value>
                <stringValue>149P5000001tntxIAA</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_T1_Account_Owner</name>
        <label>Create T1 Account Owner</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>NEEDS_T2_SPLITS</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitOwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitPercentage</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitTypeId</field>
            <value>
                <stringValue>149P5000001tntxIAA</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_T2</name>
        <label>Create T2</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Account_Owner_is_different</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitOwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitPercentage</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitTypeId</field>
            <value>
                <stringValue>149P5000001gAiLIAU</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_T2_Account_Owner</name>
        <label>Create T2 Account Owner</label>
        <locationX>138</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>NEEDS_T3_SPLITS</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitOwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitPercentage</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitTypeId</field>
            <value>
                <stringValue>149P5000001gAiLIAU</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_T3</name>
        <label>Create T3</label>
        <locationX>314</locationX>
        <locationY>3047</locationY>
        <connector>
            <targetReference>Account_Owner_is_different2</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitOwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitPercentage</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitTypeId</field>
            <value>
                <stringValue>149P5000001gAnBIAU</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_T3_Account_Owner</name>
        <label>Create T3  Account Owner</label>
        <locationX>138</locationX>
        <locationY>3563</locationY>
        <connector>
            <targetReference>Uncheck_Run_Splits_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitOwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitPercentage</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitTypeId</field>
            <value>
                <stringValue>149P5000001gAnBIAU</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_T1_Account_Owner_Splits</name>
        <label>Get T1 Account Owner Splits</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_T1_Account_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SplitOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>149P5000001tntxIAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_T1_Owner_Splits</name>
        <label>Get T1 Owner Splits</label>
        <locationX>226</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_T1_Owner_Split</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SplitOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>149P5000001tntxIAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_T2_Account_Owner_Splits</name>
        <label>Get T2 Account Owner Splits</label>
        <locationX>50</locationX>
        <locationY>2147</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_T2_Account_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SplitOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>149P5000001gAiLIAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_T2_Owner_Splits</name>
        <label>Get T2 Owner Splits</label>
        <locationX>226</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_T2_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SplitOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>149P5000001gAiLIAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_T3_Account_Owner_Splits</name>
        <label>Get T3 Account Owner Splits</label>
        <locationX>50</locationX>
        <locationY>3347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_T3_Account_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SplitOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>149P5000001gAnBIAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_T3_Owner_Splits</name>
        <label>Get T3 Owner Splits</label>
        <locationX>226</locationX>
        <locationY>2831</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_T3_Owner_Split</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SplitOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>149P5000001gAnBIAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Uncheck_Run_Splits_Flow</name>
        <label>Uncheck &quot;Run Splits Flow&quot;</label>
        <locationX>402</locationX>
        <locationY>3923</locationY>
        <inputAssignments>
            <field>Run_Splits_Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NEEDS_T1_SPLITS</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Run_Splits_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CV_Subsiduary__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UK</stringValue>
            </value>
        </filters>
        <filters>
            <field>CV_Subsiduary__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
