force-app/main/default/flows/Create_Tasks_for_KAM_Plan_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Event_to_List</name>
        <label>Add Event to List</label>
        <locationX>264</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>VarEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_to_List</name>
        <label>Add Task to List</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VarTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_to_List</name>
        <label>Assign Event to List</label>
        <locationX>264</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>VarEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forFYEventEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forFYStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Events.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarEvent.KAM_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_Template.Account__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Event_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Values</name>
        <label>Assign Task Values</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_Template.Account__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTask.Due_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forFYDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTask.KAM_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_to_List</targetReference>
        </connector>
    </assignments>
    <description>Creates Tasks For KAM Plan and sets the dates according to the year referenced in the KAM Plan</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentEventNewDateTimeEnd</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(SUBSTITUTE(TEXT({!Loop_Events.Event_End__c}), LEFT(TEXT({!Loop_Events.Event_End__c}), 4), TEXT({!KAMPlanYearValueNbr})))</expression>
    </formulas>
    <formulas>
        <name>CurrentEventNewDateTimeStart</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(SUBSTITUTE(TEXT({!Loop_Events.Event_Start__c}), LEFT(TEXT({!Loop_Events.Event_Start__c}), 4), TEXT({!KAMPlanYearValueNbr})))</expression>
    </formulas>
    <formulas>
        <name>CurrentTaskNewDate</name>
        <dataType>Date</dataType>
        <expression>DATE ({!KAMPlanYearValueNbr}, MONTH({!Loop_Tasks.Due__c}) , DAY({!Loop_Tasks.Due__c}))</expression>
    </formulas>
    <formulas>
        <name>forDuedate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Loop_Tasks.Due__c})</expression>
    </formulas>
    <formulas>
        <name>forFYDueDate</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH({!Loop_Tasks.Due__c}) &gt; 6, DATE({!Get_Plan_Template.Plan_Year_number__c} - 1, MONTH({!Loop_Tasks.Due__c}), DAY({!Loop_Tasks.Due__c})), DATE({!Get_Plan_Template.Plan_Year_number__c}, MONTH({!Loop_Tasks.Due__c}), DAY({!Loop_Tasks.Due__c})))</expression>
    </formulas>
    <formulas>
        <name>forFYEventEndTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(
    MONTH(DATEVALUE({!Loop_Events.Event_End__c})) &gt; 6,
    DATETIMEVALUE(
        TEXT({!Get_Plan_Template.Plan_Year_number__c} - 1) + 
        &quot;-&quot; + 
        TEXT(MONTH(DATEVALUE({!Loop_Events.Event_End__c}))) + 
        &quot;-&quot; + 
        TEXT(DAY(DATEVALUE({!Loop_Events.Event_End__c}))) + 
        &quot; &quot; + 
        MID(TEXT({!Loop_Events.Event_End__c}), 12, 8)
    ),
    DATETIMEVALUE(
        TEXT({!Get_Plan_Template.Plan_Year_number__c}) + 
        &quot;-&quot; + 
        TEXT(MONTH(DATEVALUE({!Loop_Events.Event_End__c}))) + 
        &quot;-&quot; + 
        TEXT(DAY(DATEVALUE({!Loop_Events.Event_End__c}))) + 
        &quot; &quot; + 
        MID(TEXT({!Loop_Events.Event_End__c}), 12, 8)
    )
)</expression>
    </formulas>
    <formulas>
        <name>forFYStartDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(
    MONTH(DATEVALUE({!Loop_Events.Event_Start__c})) &gt; 6,
    DATETIMEVALUE(
        TEXT({!Get_Plan_Template.Plan_Year_number__c} - 1) + 
        &quot;-&quot; + 
        TEXT(MONTH(DATEVALUE({!Loop_Events.Event_Start__c}))) + 
        &quot;-&quot; + 
        TEXT(DAY(DATEVALUE({!Loop_Events.Event_Start__c}))) + 
        &quot; &quot; + 
        MID(TEXT({!Loop_Events.Event_Start__c}), 12, 8)
    ),
    DATETIMEVALUE(
        TEXT({!Get_Plan_Template.Plan_Year_number__c}) + 
        &quot;-&quot; + 
        TEXT(MONTH(DATEVALUE({!Loop_Events.Event_Start__c}))) + 
        &quot;-&quot; + 
        TEXT(DAY(DATEVALUE({!Loop_Events.Event_Start__c}))) + 
        &quot; &quot; + 
        MID(TEXT({!Loop_Events.Event_Start__c}), 12, 8)
    )
)</expression>
    </formulas>
    <formulas>
        <name>KAMPlanYearValueNbr</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!Get_Plan_Template.Plan_Year__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>KAMPlanYearValueTxt</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Plan_Template.Plan_Year__c})</expression>
    </formulas>
    <interviewLabel>Create Tasks for KAM Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Tasks for KAM Plan</label>
    <loops>
        <name>Loop_Events</name>
        <label>Loop Events</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Event_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Tasks</name>
        <label>Loop Tasks</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Events</name>
        <label>Create Events</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Ending</targetReference>
        </connector>
        <inputReference>VarEvents</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_Events</targetReference>
        </connector>
        <inputReference>VarTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Events</name>
        <label>Get Events</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KAM_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Plan_Template.KAM_Template__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>KAMtemplateItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan_Template</name>
        <label>Get Plan Template</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KAMplan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KAM_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Plan_Template.KAM_Template__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>KAMtemplateItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;You are creating tasks and events for the year: {!KAMPlanYearValueTxt}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ending</name>
        <label>End</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>End</name>
            <fieldText>&lt;p&gt;You have created Tasks&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Plan_Template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>VarEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>VarTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>VarTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
