force-app/main/default/flows/Date_Stage_Changed_on_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>myRule_32</name>
        <label>Stage moved to Explore</label>
        <locationX>312</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>myRule_35</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage moved to Explore</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_32</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_32_A1</targetReference>
            </connector>
            <label>TRUE_Stage moved to Explore</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_35</name>
        <label>Stage moved to Identify Needs</label>
        <locationX>575</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>myRule_39</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage moved to Identify Needs</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Identify Needs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_35_A1</targetReference>
            </connector>
            <label>TRUE_Stage moved to Identify Needs</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_39</name>
        <label>Stage moved to Develop Solution</label>
        <locationX>837</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Stage_moved_to_Evaluate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage moved to Develop Solution</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_39</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Develop Solution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_39_A1</targetReference>
            </connector>
            <label>TRUE_Stage moved to Develop Solution</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_44</name>
        <label>Stage moved to Justify</label>
        <locationX>1353</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>myRule_50</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage moved to Justify</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_44</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Justify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_44_A1</targetReference>
            </connector>
            <label>TRUE_Stage moved to Justify</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_50</name>
        <label>Stage moved to Closing</label>
        <locationX>1601</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>myRule_57</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage moved to Closing</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_50_A1</targetReference>
            </connector>
            <label>TRUE_Stage moved to Closing</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_57</name>
        <label>Stage moved to Closed Won</label>
        <locationX>1832</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>myRule_65</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage moved to Closed Won</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_57</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed won - awaiting approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_57_A1</targetReference>
            </connector>
            <label>TRUE_Stage moved to Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_65</name>
        <label>Stage moved to Order</label>
        <locationX>2030</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>FALSE_Stage moved to Order</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_65</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_65_A1</targetReference>
            </connector>
            <label>TRUE_Stage moved to Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_moved_to_Evaluate</name>
        <label>Stage moved to Evaluate</label>
        <locationX>1097</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>myRule_44</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage moved to Evaluate</defaultConnectorLabel>
        <rules>
            <name>TRUE_Stage_moved_to_Evaluate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dates</targetReference>
            </connector>
            <label>TRUE_Stage moved to Evaluate</label>
        </rules>
    </decisions>
    <description>(Forces null on all other date to prevent errors when cloning an opp)</description>
    <environments>Default</environments>
    <formulas>
        <name>DATENULL</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Date Stage Changed on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Date Stage Changed on Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_32_A1</name>
        <label>Update Dates</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Changed_to_Closing__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Develop_Solution__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Evaluate__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Justify__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Order__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Changed_to_Closed_won__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_35_A1</name>
        <label>Update Dates</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Changed_to_Closing__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Develop_Solution__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Evaluate__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Justify__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Order__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Changed_to_Closed_won__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_39_A1</name>
        <label>Update Dates</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Changed_to_Closing__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Develop_Solution__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Evaluate__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Justify__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Order__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Changed_to_Closed_won__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_44_A1</name>
        <label>Update Date</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Changed_to_Closing__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Develop_Solution__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Evaluate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Justify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Order__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Changed_to_Closed_won__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_50_A1</name>
        <label>Update Dates</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Changed_to_Closing__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Develop_Solution__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Evaluate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Justify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Order__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Changed_to_Closed_won__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_57_A1</name>
        <label>Update dates</label>
        <locationX>1634</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Changed_to_Closing__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Develop_Solution__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Justify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Order__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Changed_to_Closed_won__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_65_A1</name>
        <label>Update Dates</label>
        <locationX>1898</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>Changed_to_Closing__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Develop_Solution__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Justify__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Order__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Changed_to_Closed_won__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dates</name>
        <label>Update Dates</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Changed_to_Closing__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Develop_Solution__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Evaluate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Justify__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_to_Order__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Changed_to_Closed_won__c</field>
            <value>
                <elementReference>DATENULL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>186</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_32</targetReference>
        </connector>
        <filterFormula>{!$Setup.AutomationSettings__c.Automation_Enabled__c} = true</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
