force-app/main/default/flows/Default_Invoice_1_Contact_to_Main_Invoice_contact_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Id_of_triggering_record</name>
        <label>Set Id of triggering record</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Oppty_To_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Oppty_To_Update.Invoice_contact_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice_contact_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Oppty_To_Update.Invoice_contact_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice_contact_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Oppty_To_Update.Invoice_contact_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice_contact_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Oppty_To_Update.Purchase_Notification_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Purchase_Notification_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Oppty_To_Update.License_Renewal_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.License_Renewal_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_invoice_contact_2</name>
        <label>Set invoice contact 2</label>
        <locationX>204</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>Oppty_To_Update.Invoice_contact_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Second_Invoice_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_3rd_Invoice_contact_not_null_Opp_Invoice_contact_3_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_invoice_contact_3</name>
        <label>Set invoice contact 3</label>
        <locationX>204</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>Oppty_To_Update.Invoice_contact_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Third_Invoice_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_license_renewal_contact</name>
        <label>Set license renewal contact</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>Oppty_To_Update.License_Renewal_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.License_Renewal_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_fields_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_main_invoice_contact</name>
        <label>Set main invoice contact</label>
        <locationX>204</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Oppty_To_Update.Invoice_contact_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Main_Invoice_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_purchase_notification_contact</name>
        <label>Set purchase notification contact</label>
        <locationX>204</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>Oppty_To_Update.Purchase_Notification_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PurchaseNotificationContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_7</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_3rd_Invoice_contact_not_null_Opp_Invoice_contact_3_null</name>
        <label>Account 3rd Invoice contact not null / Opp Invoice contact 3 null</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Account 3rd Invoice contact not null / Opp Invoice contact 3 null</defaultConnectorLabel>
        <rules>
            <name>TRUE_Account_3rd_Invoice_contact_not_null_Opp_Invoice_contact_3_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Third_Invoice_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_contact_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_invoice_contact_3</targetReference>
            </connector>
            <label>TRUE_Account 3rd Invoice contact not null / Opp Invoice contact 3 null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_fields_changed</name>
        <label>Any fields changed</label>
        <locationX>336</locationX>
        <locationY>2123</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_7</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_contact_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Oppty_To_Update.Invoice_contact_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_contact_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Oppty_To_Update.Invoice_contact_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_contact_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Oppty_To_Update.Invoice_contact_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_Notification_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Oppty_To_Update.Purchase_Notification_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.License_Renewal_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Oppty_To_Update.License_Renewal_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_6</targetReference>
            </connector>
            <label>Outcome 1 of Decision 7</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1</name>
        <label>Account Main Invoice Contact not null / Opp Invoice contact 1 null</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Account Main Invoice Contact not null / Opp Invoice contact 1 null</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Main_Invoice_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_contact_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_main_invoice_contact</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Account Main Invoice Contact not null / Opp Invoice contact 1 null</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Account 2nd Invoice contact not null / Opp Invoice contact 2 null</label>
        <locationX>336</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Account_3rd_Invoice_contact_not_null_Opp_Invoice_contact_3_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Account 2nd Invoice contact not null / Opp Invoice contact 2 null</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Second_Invoice_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_contact_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_invoice_contact_2</targetReference>
            </connector>
            <label>TRUE_Account 2nd Invoice contact not null / Opp Invoice contact 2 null</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>Account Purchase Notification contact not null / Opp purchase notification contact null</label>
        <locationX>336</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_PAccount Purchase Notification contact not null / Opp purchase notification contact null</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.PurchaseNotificationContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_Notification_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_purchase_notification_contact</targetReference>
            </connector>
            <label>TRUE_AAccount Purchase Notification contact not null / Opp purchase notification contact null</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>Account Licence Renewal contact not null / Opp Licence Renewal contact null</label>
        <locationX>336</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Any_fields_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Account contact not null / Opp contact null</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.License_Renewal_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.License_Renewal_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Stage_to_be_updated</targetReference>
            </connector>
            <label>TRUE_Account contact not null / Opp contact null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Stage_to_be_updated</name>
        <label>Valid Stage to be updated</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Any_fields_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed won - awaiting approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate - Error in Opp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate - Multiple Options</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate - Dead Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled After Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_license_renewal_contact</targetReference>
            </connector>
            <label>Valid stage</label>
        </rules>
    </decisions>
    <description>Added clearing of variable in the beginning</description>
    <environments>Default</environments>
    <interviewLabel>Default Invoice 1 Contact to Main Invoice contact_1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Default Invoice 1 Contact to Main Invoice contact_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records_6</name>
        <label>Update Record</label>
        <locationX>204</locationX>
        <locationY>2231</locationY>
        <inputAssignments>
            <field>Invoice_contact_1__c</field>
            <value>
                <elementReference>Oppty_To_Update.Invoice_contact_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_contact_2__c</field>
            <value>
                <elementReference>Oppty_To_Update.Invoice_contact_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_contact_3__c</field>
            <value>
                <elementReference>Oppty_To_Update.Invoice_contact_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Renewal_Contact__c</field>
            <value>
                <elementReference>Oppty_To_Update.License_Renewal_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Notification_Contact__c</field>
            <value>
                <elementReference>Oppty_To_Update.Purchase_Notification_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Id_of_triggering_record</targetReference>
        </connector>
        <filterFormula>({!$Setup.AutomationSettings__c.Automation_Enabled__c} = true ||
{!$Setup.AutomationSettings__c.Automation_Enabled_for_Import__c} = true )</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Oppty_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
