force-app/main/default/flows/Delete_Split_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Decision_Delete_T1</name>
        <label>Delete T1</label>
        <locationX>473</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Decision_Delete_T2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_T1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.T1_Opp__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Net_Revenue_Forecast__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Net_Revenue_Forecast__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_T1_splits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Delete_T2</name>
        <label>Delete T2</label>
        <locationX>473</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Decision_Delete_T3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_T2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Amount_T2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Amount_T2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_T2_splits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Delete_T3</name>
        <label>Delete T3</label>
        <locationX>473</locationX>
        <locationY>1476</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_T3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Amount_T3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Amount_T3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_T3_splits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Split_T1</name>
        <label>Has Split T1</label>
        <locationX>319</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Decision_Delete_T2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasSplitT1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_T1_splits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_T1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Split_T2</name>
        <label>Has Split T2</label>
        <locationX>319</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Decision_Delete_T3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasSplitT2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_T2_splits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_T2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Split_T3</name>
        <label>Has Split T3</label>
        <locationX>275</locationX>
        <locationY>1692</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasSplitT3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_T3_splits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_T3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delete Split = 0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Split = 0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_T1</name>
        <label>Delete T1</label>
        <locationX>187</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Decision_Delete_T2</targetReference>
        </connector>
        <inputReference>Get_T1_splits</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_T2</name>
        <label>Delete T2</label>
        <locationX>187</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Decision_Delete_T3</targetReference>
        </connector>
        <inputReference>Get_T2_splits</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_T3</name>
        <label>Delete T3</label>
        <locationX>143</locationX>
        <locationY>1800</locationY>
        <inputReference>Get_T3_splits</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_T1_splits</name>
        <label>Get T1 splits</label>
        <locationX>319</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Split_T1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>149P5000001tntxIAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_T2_splits</name>
        <label>Get T2 splits</label>
        <locationX>319</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Split_T2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>149P5000001gAiLIAU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_T3_splits</name>
        <label>Get T3 splits</label>
        <locationX>275</locationX>
        <locationY>1584</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Split_T3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>149P5000001gAnBIAU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>{!$Setup.AutomationSettings__c.Automation_Enabled__c} = true &amp;&amp;
(ISPICKVAL({!$Record.Account.CV_Subsidiary__c}, &quot;UK&quot;) || ISPICKVAL({!$Record.Account.CV_Subsidiary__c}, &quot;US&quot;)) &amp;&amp;
{!$Record.Quota_Update_Allowed__c} = true &amp;&amp;
(ISCHANGED({!$Record.T1_Opp__c})  ||
ISCHANGED({!$Record.Net_Revenue_Forecast__c}) || 
ISCHANGED({!$Record.Total_Amount__c}) || 
ISCHANGED({!$Record.Total_Amount_T2__c})  ||
ISCHANGED({!$Record.Total_Amount_T3__c}))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Wait_1_min</name>
            <connector>
                <targetReference>Decision_Delete_T1</targetReference>
            </connector>
            <label>Wait 1 min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
