force-app/main/default/flows/Delete_Tasks_from_KAM_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Events</name>
        <label>Assign Events</label>
        <locationX>138</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>VarEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Events</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tasks</name>
        <label>Assign Tasks</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>VarTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Events</name>
        <label>Found Events?</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Ending</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Plan_Events</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Events</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Tasks</name>
        <label>Found Tasks?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Plan_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Plan_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Deletes the Tasks and Events from the current KAM Plan</description>
    <environments>Default</environments>
    <interviewLabel>Delete Tasks from KAM Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Tasks from KAM Plan</label>
    <loops>
        <name>Loop_Events</name>
        <label>Loop Events</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <collectionReference>Get_Plan_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Events</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Tasks</name>
        <label>Loop Tasks</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Plan_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Events</name>
        <label>Delete Events</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Ending</targetReference>
        </connector>
        <inputReference>VarEvents</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Tasks</name>
        <label>Delete Tasks</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Get_Plan_Events</targetReference>
        </connector>
        <inputReference>VarTasks</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Plan_Events</name>
        <label>Get Plan Events</label>
        <locationX>182</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KAM_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan_Tasks</name>
        <label>Get Plan Tasks</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KAM_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Plan_Tasks</targetReference>
        </connector>
        <fields>
            <name>Delete</name>
            <fieldText>&lt;p&gt;You are deleting KAM Plan tasks and events from KAM Plan and from Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Delete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ending</name>
        <label>Ending</label>
        <locationX>182</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Deleted</name>
            <fieldText>&lt;p&gt;Tasks Deleted&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>VarTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
