force-app/main/default/flows/Delete_Opp_Splits_when_Opp_Team_Is_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Delete Opp Splits when Opp Team Is Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Opp Splits when Opp Team Is Deleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Splits</name>
        <label>Delete Splits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Splits</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Splits</name>
        <label>Get Splits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Splits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SplitOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Splits</targetReference>
        </connector>
        <object>OpportunityTeamMember</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
