force-app/main/default/flows/Email_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_ContactId_to_Collection</name>
        <label>Add ContactId to Collection</label>
        <locationX>264</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>varEmailMessageRelationContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Email_Message_Records.RelationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Email_Message_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Contact_Role_ContactIds_to_Collection</name>
        <label>Assign Opp Contact Role ContactIds to Collection</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varOppContactRoleContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opp_Contact_Role.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Contact_Role_Fields_Add_to_Collection</name>
        <label>Assign Opp Contact Role Fields &amp; Add to Collection</label>
        <locationX>264</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>varOppContactRoleRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Email_Message_Relation_Contact_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppContactRoleRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectOppContactRoleRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOppContactRoleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Email_Message_Relation_Contact_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_ContactIds_from_Email_Message_Relation_Collection</name>
        <label>Remove ContactIds from Email Message Relation Collection</label>
        <locationX>156</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>varEmailMessageRelationContactIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Contacts_with_Internal_Domain.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts_with_Internal_Domain</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contacts_with_Internal_Domain_Exists</name>
        <label>Contacts with Internal Domain Exists?</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Loop_Email_Message_Relation_Contact_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts_with_Internal_Domain</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contacts_with_Internal_Domain</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow creates Opp Contact Role records from Email Message Relation records that are related to an Email Message that is related to an Opp</description>
    <environments>Default</environments>
    <interviewLabel>Email Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Message - Create Contact Role from Email Message Relation Records</label>
    <loops>
        <name>Loop_Contacts_with_Internal_Domain</name>
        <label>Loop Contacts with Internal Domain</label>
        <locationX>68</locationX>
        <locationY>1355</locationY>
        <collectionReference>Get_Contacts_with_Internal_Domain</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_ContactIds_from_Email_Message_Relation_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Email_Message_Relation_Contact_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Email_Message_Records</name>
        <label>Loop Email Message Relation Records</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_Email_Message_Relation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ContactId_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contacts_with_Internal_Domain</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Email_Message_Relation_Contact_Ids</name>
        <label>Loop Email Message Relation Contact Ids</label>
        <locationX>176</locationX>
        <locationY>1739</locationY>
        <collectionReference>varEmailMessageRelationContactIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_Contact_Role_Fields_Add_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opp_Contact_Role_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opp_Contact_Role</name>
        <label>Loop Opp Contact Role Records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Opp_Contact_Role</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_Contact_Role_ContactIds_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Email_Message_Relation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Contact_Role_Records</name>
        <label>Create Opp Contact Role Records</label>
        <locationX>176</locationX>
        <locationY>2039</locationY>
        <inputReference>CollectOppContactRoleRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts_with_Internal_Domain</name>
        <label>Get Contacts with Internal Domain</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts_with_Internal_Domain_Exists</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varEmailMessageRelationContactIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <stringValue>eficode.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <stringValue>atlassian.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Message_Relation</name>
        <label>Get Email Message Relation</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Email_Message_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmailMessageId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationObjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelationId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varOppContactRoleContactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessageRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Contact_Role</name>
        <label>Get Opp Contact Role</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opp_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedToId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>006</stringValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CollectOppContactRoleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varEmailMessageRelationContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppContactRoleContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppContactRoleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
