force-app/main/default/flows/Event_Create_Opp_Contact_Role_from_Event_Who_Relation_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Opp_Contact_Role_ContactIDs_to_Collection</name>
        <label>Add Opp Contact Role ContactIDs to Collection</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varOppContactRoleContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opp_Contact_Role.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ContactId_to_Collection</name>
        <label>Assign ContactId to Collection</label>
        <locationX>264</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>varEventWhoRelationContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Event_Who_Relation_Records.RelationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Event_Who_Relation_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Contact_Role_fields_Add_to_Collection</name>
        <label>Assign Opp Contact Role fields &amp; Add to Collection</label>
        <locationX>264</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>varOppContactRoleRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Event_Who_Relation_Contact_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppContactRoleRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollecOppContactRoleRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOppContactRoleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Event_Who_Relation_Contact_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_ContactIds_from_Event_Who_relation_Collection</name>
        <label>Remove ContactIds from Event Who relation Collection</label>
        <locationX>156</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>varEventWhoRelationContactIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Contacts_with_Internal_Domain.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts_with_Internal_Domain</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_with_Internal_Domain_Exist</name>
        <label>Contact with Internal Domain Exist?</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Loop_Event_Who_Relation_Contact_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts_with_Internal_Domain</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contacts_with_Internal_Domain</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Event - Create Opp Contact Role from Event Who Relation Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Create Opp Contact Role from Event Who Relation Records</label>
    <loops>
        <name>Loop_Contacts_with_Internal_Domain</name>
        <label>Loop Contacts with Internal Domain</label>
        <locationX>68</locationX>
        <locationY>1355</locationY>
        <collectionReference>Get_Contacts_with_Internal_Domain</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_ContactIds_from_Event_Who_relation_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Event_Who_Relation_Contact_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Event_Who_Relation_Contact_Ids</name>
        <label>Loop Event Who Relation Contact Ids</label>
        <locationX>176</locationX>
        <locationY>1739</locationY>
        <collectionReference>varEventWhoRelationContactIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_Contact_Role_fields_Add_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Event_Who_Relation_Records</name>
        <label>Loop Event Who Relation Records</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_Event_who_Relation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ContactId_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contacts_with_Internal_Domain</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opp_Contact_Role</name>
        <label>Loop Opp Contact Role</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Opp_Contact_Role</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Opp_Contact_Role_ContactIDs_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Event_who_Relation_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create</name>
        <label>Create Opp Contact Roles</label>
        <locationX>176</locationX>
        <locationY>2039</locationY>
        <inputReference>CollecOppContactRoleRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts_with_Internal_Domain</name>
        <label>Get Contacts with Internal Domain</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_with_Internal_Domain_Exist</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varEventWhoRelationContactIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <stringValue>eficode.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <stringValue>atlassian</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_who_Relation_Records</name>
        <label>Get Event Who Relation Records</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Event_Who_Relation_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelationId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varOppContactRoleContactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventWhoRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Opp Contact Role that are related to Opp that the Task related to</description>
        <name>Get_Opp_Contact_Role</name>
        <label>Get Opp Contact Role</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opp_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Contact_Role</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>006</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollecOppContactRoleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varEventWhoRelationContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppContactRoleContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppContactRoleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
