force-app/main/default/flows/Get_Daily_Exchange_Rate_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Build_Lookup_Key</name>
        <label>Build Lookup Key</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarLookupKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLookupKey</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLookupKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormulaMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLookupKey</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLookupKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormulaDay</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLookupKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarTargetCurrency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Exchange_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Rate_From_Fallback</name>
        <label>Set Rate From Fallback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarFinalRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fallback_Rate.Exchange_Rate_from_USD_to_X__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Rate_From_Main</name>
        <label>Set Rate From Main</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarFinalRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Exchange_Rate.Exchange_Rate_from_USD_to_X__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Was_Rate_Found</name>
        <label>Was Rate Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Fallback_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Rate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exchange_Rate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rate_From_Main</targetReference>
            </connector>
            <label>Rate Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaDay</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY({!VarRateDate})), 2, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>FormulaMonth</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(MONTH({!VarRateDate})), 2, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>FormulaYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!VarRateDate}))</expression>
    </formulas>
    <interviewLabel>Get Daily Exchange Rate Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Daily Exchange Rate Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Exchange_Rate</name>
        <label>Get Exchange Rate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Rate_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date_Unique__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLookupKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Buying_Exchange_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fallback_Rate</name>
        <label>Get Fallback Rate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Rate_From_Fallback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTargetCurrency</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>VarRateDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Buying_Exchange_Rate__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Build_Lookup_Key</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Founded exchange rate</description>
        <name>VarFinalRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarLookupKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>which daily exchange rate needs to be used</description>
        <name>VarRateDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account Currency</description>
        <name>VarTargetCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
