force-app/main/default/flows/Identifying_default_values_for_MEDDPICC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Check_the_defined_fields_are_empty</name>
        <label>Check the defined fields are empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Metrics__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Economic_Buyer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Decision_Criteria__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Decision_Process__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Paper_Process__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Identify_Pain__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Champion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Competition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fields_Default_Value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DefaultValue</name>
        <dataType>String</dataType>
        <expression>&quot;Confidence: (color)&quot; &amp; BR() &amp;
&quot;Summary:&quot; &amp; BR() &amp;
&quot;Gaps:&quot;</expression>
    </formulas>
    <interviewLabel>For ME {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Identifying default values for MEDDPICC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Fields_Default_Value</name>
        <label>Update Fields Default Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Champion__c</field>
            <value>
                <elementReference>DefaultValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competition__c</field>
            <value>
                <elementReference>DefaultValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Criteria__c</field>
            <value>
                <elementReference>DefaultValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Process__c</field>
            <value>
                <elementReference>DefaultValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Economic_Buyer__c</field>
            <value>
                <elementReference>DefaultValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identify_Pain__c</field>
            <value>
                <elementReference>DefaultValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metrics__c</field>
            <value>
                <elementReference>DefaultValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paper_Process__c</field>
            <value>
                <elementReference>DefaultValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_defined_fields_are_empty</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
