force-app/main/default/flows/IT_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Engagement_Notification_Email_Alert</name>
        <label>Engagement Notification Email Alert</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Engagement_Notification_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IT_Total_Support_Opportunity_Alert_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Engagement_Notification_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>New_IT_Notifications</name>
        <label>New IT Notifications</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <actionName>Opportunity.New_IT_Notifications</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_IT_Notifications</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>On_Demand_Notification_Email_Alert</name>
        <label>On-Demand Notification Email Alert</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <actionName>Opportunity.On_Demand_Notification_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IT_Support_Opportunity_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.On_Demand_Notification_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Upgrade_Notification_Email_Alert</name>
        <label>Opportunity.Upgrade_Notification_Email_Alert</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Upgrade_Notification_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Upgrade_Notification_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>IT_Service_engagement_Opportunity_Alert</name>
        <label>IT Service engagement Opportunity Alert</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>IT_Total_Support_Opportunity_Alert_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Service_engagement</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PS_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engagement_Notification_Email_Alert</targetReference>
            </connector>
            <label>Yes_Service engagement</label>
        </rules>
    </decisions>
    <decisions>
        <name>IT_Support_Opportunity_Alert</name>
        <label>IT Support Opportunity Alert</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Support</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hosting_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Support_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_IT_Notifications</targetReference>
            </connector>
            <label>Yes_Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>IT_Total_Support_Opportunity_Alert_2</name>
        <label>IT Total Support Opportunity Alert</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>IT_Support_Opportunity_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Total_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.total_support_products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Demand_Notification_Email_Alert</targetReference>
            </connector>
            <label>Yes_Total Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>IT_Upgrade_Opportunity_Alert</name>
        <label>IT Upgrade Opportunity Alert</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>IT_Service_engagement_Opportunity_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Upgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Upgrades_products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upgrade_Notification_Email_Alert</targetReference>
            </connector>
            <label>Yes_Upgrade</label>
        </rules>
    </decisions>
    <description>Sends an email when opportunity is closed won based on the type of products</description>
    <environments>Default</environments>
    <interviewLabel>IT Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IT_Upgrade_Opportunity_Alert</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Setup.AutomationSettings__c.Automation_Enabled__c} = true &amp;&amp;
ISPICKVAL({!$Record.StageName}, &quot;Closed won - awaiting approval&quot;) &amp;&amp;
{!$Record.Sent_to_Netsuite__c} = false &amp;&amp;
(ISPICKVAL({!$Record.Account.CV_Subsidiary__c} , &quot;UK&quot;) || ISPICKVAL({!$Record.Account.CV_Subsidiary__c} , &quot;US&quot;))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
