force-app/main/default/flows/KAM_Plan_Calculate_Sales_Result.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Sales_Result</name>
        <label>Calculate Sales Result</label>
        <locationX>176</locationX>
        <locationY>623</locationY>
        <actionName>KAMPlanCalculateSalesResult</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fiscalYear</name>
            <value>
                <elementReference>$Record.Plan_Year_number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>KAMPlan</stringValue>
            </value>
        </inputParameters>
        <nameSegment>KAMPlanCalculateSalesResult</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>is_account_updated</name>
        <label>is account updated</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_KAM_plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Sales_Result</targetReference>
            </connector>
            <label>New KAM plan</label>
        </rules>
        <rules>
            <name>Account_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Account__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Sales_Result</targetReference>
            </connector>
            <label>Account changed</label>
        </rules>
        <rules>
            <name>Plan_Year_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plan_Year__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Plan_Year__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Sales_Result</targetReference>
            </connector>
            <label>Plan Year changed</label>
        </rules>
        <rules>
            <name>Account_hierarchy_checkbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calculate_Account_Hierarchy__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Calculate_Account_Hierarchy__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Sales_Result</targetReference>
            </connector>
            <label>Account hierarchy checkbox</label>
        </rules>
    </decisions>
    <description>Calculate sales result when KAM Plan is created or Account changed // Iida 29.11.2023
Updated 19.2.2024 Iida</description>
    <environments>Default</environments>
    <formulas>
        <name>forCurrentYear</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forPlanYear</name>
        <dataType>Number</dataType>
        <expression>VALUE(LEFT(TEXT({!$Record.Plan_Year__c}), 4))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>KAM Plan: Calculate Sales Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KAM Plan: Calculate Sales Result</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_account_updated</targetReference>
        </connector>
        <object>KAMplan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varConsultingProducts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varLicenseProducts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOpenAmounts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOpportunityAmounts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOpportunityAmountsOLD</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOppos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varServiceProducts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalMargin</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
