force-app/main/default/flows/Launch_Flow_from_tasks_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Migrated from the Launch Flow from tasks process using No criteria criteria.
Launch flows on task creation or modifications</description>
    <environments>Default</environments>
    <formulas>
        <name>DescriptionFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Description} , 255)</expression>
    </formulas>
    <formulas>
        <name>DueDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Due_Date_Time__c} )</expression>
    </formulas>
    <label>Launch Flow from tasks_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Related_to_Account</name>
        <label>Related to Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_to_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_to_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_to_Account__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Related_to_Case</name>
        <label>Related to Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_to_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_to_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_to_Case__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Related_to_contact</name>
        <label>Related to contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_to_Contact_or_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_to_Contact__c</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Related_to_opportunity</name>
        <label>Related to opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_to_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_to_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_to_Opportunity__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Due_Date_Description</name>
        <label>Update Due Date &amp; Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_to_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Text255__c</field>
            <value>
                <elementReference>DescriptionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Due_Date_Description</targetReference>
        </connector>
        <filterFormula>NOT(CONTAINS({!$Record.Subject} , &quot;Days Before Renewal Email Sent&quot;))</filterFormula>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
