force-app/main/default/flows/Opportunity_Create_Services_in_Portfolio_Opp_Prods.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varOppProds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOppProd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_varServicesInPortfolio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Prod_Values</name>
        <label>Set Opp Prod Values</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varOppProd.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppProd.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppProd.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Single_Service</name>
        <label>Set Single Service</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varSingleServiceValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Price_Book_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_varServicesInPortfolio</name>
        <label>Update varServicesInPortfolio</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>varServicesInPortfolio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forUpdatedServicesInPortfolio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>If_varServicesInPortfolio_Not_Blank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Is_New_or_Trigger_Sync</name>
        <label>If Is New or Trigger Sync</label>
        <locationX>743</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_or_Trigger_Sync</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>forIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_Sync__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2024.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_Sync__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Trigger_Sync__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_varServicesInPortfolio_Not_Blank</targetReference>
            </connector>
            <label>Is_New_or_Trigger_Sync</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Price_Book_Entry_Found</name>
        <label>If Price Book Entry Found</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_varServicesInPortfolio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PBE_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Price_Book_Entry.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Prod_Values</targetReference>
            </connector>
            <label>PBE Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_varServicesInPortfolio_Not_Blank</name>
        <label>If varServicesInPortfolio Not Blank</label>
        <locationX>468</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varServicesInPortfolio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Single_Service</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
        <rules>
            <name>varOppProds_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppProds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_Products</targetReference>
            </connector>
            <label>varOppProds Not Blank</label>
        </rules>
    </decisions>
    <description>19012024 Jasmin/Ceili: When Opportunity is created with value in Services in Portfolio, Opportunity Products with no price are created based on Product name that matches the value name.
09022024 Jasmin/Ceili: Post migration version. If Is New or Trigger Sync decision added. Runs only on new opps and opps Trigger Sync value is updated to 2024.
14022024 Jasmin/Ceili: Price Book Entry filter added to get records. Currency = Opp currency.
06052024 Atte/Ceili: Automation enabled check added to entry conditions</description>
    <environments>Default</environments>
    <formulas>
        <name>forIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>forSingleService</name>
        <dataType>String</dataType>
        <expression>IF(
CONTAINS({!varServicesInPortfolio}, &quot;;&quot;),
TRIM(                                                                                                         
SUBSTITUTE(
LEFT( {!varServicesInPortfolio} , FIND(&quot;;&quot;,  {!varServicesInPortfolio} )),
&quot;;&quot;,                                                                                          
&quot;&quot;)),
{!varServicesInPortfolio})</expression>
    </formulas>
    <formulas>
        <name>forUpdatedServicesInPortfolio</name>
        <dataType>String</dataType>
        <expression>IF(
CONTAINS({!varServicesInPortfolio}, &quot;;&quot;),
MID({!varServicesInPortfolio},FIND(&quot;;&quot;,
{!varServicesInPortfolio})+1,LEN({!varServicesInPortfolio})-
LEN(LEFT({!varServicesInPortfolio}, FIND(&quot;;&quot;,{!varServicesInPortfolio})))+1),
&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity: Create Services in Portfolio Opp Prods {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Create Services in Portfolio Opp Prods</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Products</name>
        <label>Create Opp Products</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <inputReference>varOppProds</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Price_Book_Entry</name>
        <label>Get Price Book Entry</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Price_Book_Entry_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSingleServiceValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Is_New_or_Trigger_Sync</targetReference>
        </connector>
        <filterFormula>NOT(ISNULL({!$Record.Services_in_Portfolio__c})) &amp;&amp; NOT(ISNULL({!$Record.Pricebook2Id})) &amp;&amp; {!$Setup.AutomationSettings__c.Automation_Enabled__c} = True</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1400</triggerOrder>
    <variables>
        <name>varOppProd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOppProds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varServicesInPortfolio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Services_in_Portfolio__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varSingleServiceValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
