force-app/main/default/flows/Opportunity_Update_Closed_won_information_to_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_to_variable</name>
        <label>assign to variable</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>varOppos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_variable_Open</name>
        <label>assign to variable Open</label>
        <locationX>138</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>varOppos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Open_oppos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Open_oppos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Take_Open_Amounts</name>
        <label>Take Open Amounts</label>
        <locationX>138</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>varOpenAmounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Open_oppos.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Open_oppos.KAM_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_KAM_Plan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_variable_Open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Take_Total_Amount</name>
        <label>Take Total Amount</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityAmounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opportunities.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opportunities.Roll_Up_Services_Products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLicenseProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opportunities.Roll_up_Licensing_products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultingproducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opportunities.Roll_Up_Consulting_producs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMargin</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opportunities.Total_Margin_Declarative__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Account_Plan</name>
        <label>Found Account Plan</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_KAM_Plan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_was_edited</name>
        <label>Opportunity was edited</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_edited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_KAM_Plan</targetReference>
            </connector>
            <label>Stage edited</label>
        </rules>
        <rules>
            <name>Close_Date_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_KAM_Plan</targetReference>
            </connector>
            <label>Close Date is changed</label>
        </rules>
        <rules>
            <name>Products_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Total_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_KAM_Plan</targetReference>
            </connector>
            <label>Products added</label>
        </rules>
    </decisions>
    <description>// Iida 27.11.2023</description>
    <environments>Default</environments>
    <formulas>
        <name>forAmountisChanged</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Account.Closed_Won_Amount__c}-{!$Record__Prior.Amount})+{!$Record.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forCreated</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Closed_Won_Amount__c}+{!$Record.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forCurrentyear</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forCurrentyearTEXT</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>forPlanYear</name>
        <dataType>Number</dataType>
        <expression>VALUE(LEFT(TEXT({!Get_KAM_Plan.Plan_Year__c}), 4))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forUpdatedFromClosedWon</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Closed_Won_Amount__c}-{!$Record.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forUpdatedtoClosedWon</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Closed_Won_Amount__c}+{!$Record.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity: Update Closed won information to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Update Closed won information to KAM Plan</label>
    <loops>
        <name>Loop_Open_oppos</name>
        <label>Loop Open oppos</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <collectionReference>Get_Open_Oppos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Take_Open_Amounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_related_KAM_Plan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opportunities</name>
        <label>Loop Opportunities</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Records_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Take_Total_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Update_related_KAM_Plan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_KAM_Plan</name>
        <label>Get KAM Plan</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Account_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Plan_Year_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Close_date_FY__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KAMplan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Oppos</name>
        <label>Get Open Oppos</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Open_oppos</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Close_date_FY__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Close_date_FY__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_1</name>
        <label>Get Oppos</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed won - awaiting approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Close_date_FY__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forPlanYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Update_related_KAM_Plan</name>
        <label>Update related KAM Plan Closed won</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Get_Open_Oppos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_Year_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Close_date_FY__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Result_Closed_Won__c</field>
            <value>
                <elementReference>varOpportunityAmounts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Result_Consulting__c</field>
            <value>
                <elementReference>varConsultingproducts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Result_Licensing__c</field>
            <value>
                <elementReference>varLicenseProducts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Result_Services__c</field>
            <value>
                <elementReference>varServiceProducts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Margin__c</field>
            <value>
                <elementReference>varMargin</elementReference>
            </value>
        </inputAssignments>
        <object>KAMplan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_KAM_Plan</name>
        <label>Update related KAM Plan</label>
        <locationX>50</locationX>
        <locationY>1979</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_Year_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Close_date_FY__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pipeline_Forecast__c</field>
            <value>
                <elementReference>varOpenAmounts</elementReference>
            </value>
        </inputAssignments>
        <object>KAMplan__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_was_edited</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varConsultingproducts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varLicenseProducts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varMargin</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOpenAmounts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOpportunityAmounts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOppos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varServiceProducts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalAmounts</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
