force-app/main/default/flows/Opportunity_Update_Closed_won_information_to_KAM_Plan_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calculate Sales Result</description>
        <name>Calculate_Sales_Result</name>
        <label>Calculate Sales Result</label>
        <locationX>176</locationX>
        <locationY>623</locationY>
        <actionName>KAMPlanCalculateSalesResult</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fiscalYear</name>
            <value>
                <elementReference>$Record.Close_date_FY__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <nameSegment>KAMPlanCalculateSalesResult</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Opportunity_was_edited</name>
        <label>Opportunity was edited</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_edited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Sales_Result</targetReference>
            </connector>
            <label>Stage edited</label>
        </rules>
        <rules>
            <name>Close_Date_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Sales_Result</targetReference>
            </connector>
            <label>Close Date is changed</label>
        </rules>
        <rules>
            <name>Products_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Total_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Sales_Result</targetReference>
            </connector>
            <label>Products added</label>
        </rules>
    </decisions>
    <description>Updates Sales Result to related KAM Plan if Opportunity is updated// Tatu 8.2.2024, Iida 19.2.2024</description>
    <environments>Default</environments>
    <formulas>
        <name>forAmountisChanged</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Account.Closed_Won_Amount__c}-{!$Record__Prior.Amount})+{!$Record.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forCreated</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Closed_Won_Amount__c}+{!$Record.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forCurrentyear</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forCurrentyearTEXT</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>forUpdatedFromClosedWon</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Closed_Won_Amount__c}-{!$Record.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forUpdatedtoClosedWon</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Closed_Won_Amount__c}+{!$Record.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity: Update Closed won information to KAM Plan Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: REAL Update Sales result information to KAM Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_was_edited</targetReference>
        </connector>
        <filterFormula>{!$Setup.AutomationSettings__c.Automation_Enabled__c} = true</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varConsultingproducts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varLicenseProducts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varMargin</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOpenAmounts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOpportunityAmounts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOppos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varServiceProducts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalAmounts</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
