force-app/main/default/flows/Opportunity_Stage_change_date_Edit_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <customErrors>
        <description>Netsuite Consulting Project fields are mandatory</description>
        <name>Custom_Error_Netsuite_Consulting_Project_fields_are_mandatory</name>
        <label>Custom Error Netsuite Consulting Project fields are mandatory</label>
        <locationX>314</locationX>
        <locationY>900</locationY>
        <customErrorMessages>
            <errorMessage>The following Netsuite Consulting Project fields are mandatory: Delivery Owner, Contracts, Consultants Allocated, Billing Type, New or Extension, Customer Invoicing Contact, Start Date.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Error_Message</name>
        <label>Check Error Message</label>
        <locationX>446</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Netsuite_Consulting_Project_fields_are_mandatory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>The following Netsuite Consulting Project fields are mandatory: Delivery Owner, Contracts, Consultants Allocated, Billing Type, New or Extension, Customer Invoicing Contact, Start Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Error_Netsuite_Consulting_Project_fields_are_mandatory</targetReference>
            </connector>
            <label>Netsuite Consulting Project fields are mandatory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Stage_moved_to_Closed_Won</name>
        <label>Stage moved to Closed Won or order</label>
        <locationX>3262</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>FALSE_Stage moved to Closed Won</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_TRUE_Stage_moved_to_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Checkbox_won</targetReference>
            </connector>
            <label>TRUE_Stage moved to Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1</name>
        <label>Date changed after closed won</label>
        <locationX>533</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Date changed after closed won</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Date changed after closed won</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_10</name>
        <label>Stage moved to Develop Solution</label>
        <locationX>1279</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Stage_moved_to_Evaluate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage moved to Develop Solution</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_DevelopSolution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Stage moved to Develop Solution</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_15</name>
        <label>Stage moved to Justify</label>
        <locationX>1801</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>myRule_21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage moved to Justify</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_Justify</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Stage moved to Justify</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_21</name>
        <label>Stage moved to Closing</label>
        <locationX>2057</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>myRule_28</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage moved to Closing</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_Closing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Stage moved to Closing</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_28</name>
        <label>Stage Closed lost</label>
        <locationX>2305</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>myRule_31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage Closed lost</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_28</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_28</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_28_A1</targetReference>
            </connector>
            <label>TRUE_Stage Closed lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Stage moved to Explore</label>
        <locationX>533</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>myRule_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage moved to Explore</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_Explore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Stage moved to Explore</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_31</name>
        <label>Stage moved to Closed Won</label>
        <locationX>2536</locationX>
        <locationY>1332</locationY>
        <defaultConnector>
            <targetReference>myRule_39</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage moved to Closed Won</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_31_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Stage moved to Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_39</name>
        <label>Stage moved to Order</label>
        <locationX>2734</locationX>
        <locationY>1440</locationY>
        <defaultConnectorLabel>FALSE_Stage moved to Order</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_39</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_39</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_39_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Stage moved to Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_6</name>
        <label>Stage moved to  Identify Needs</label>
        <locationX>1016</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>myRule_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage moved to  Identify Needs</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_IdentifyNeeds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Stage moved to Identify Needs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_moved_to_Evaluate</name>
        <label>Stage moved to Evaluate</label>
        <locationX>1541</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>myRule_15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage moved to Evaluate</defaultConnectorLabel>
        <rules>
            <name>TRUE_Stage_moved_to_Evaluate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_Evaluate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Evaluate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Stage moved to Evaluate</label>
        </rules>
    </decisions>
    <description>Update the relevant &quot;stage date changed&quot; fields when stage is changed (on modification of the opp only)</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_TRUE_Closing</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; ISPICKVAL({!$Record.StageName} , &quot;Closing&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_DevelopSolution</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; ISPICKVAL({!$Record.StageName} , &quot;Develop Solution&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_Evaluate</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; ISPICKVAL({!$Record.StageName} , &quot;Evaluate&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_Explore</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; ISPICKVAL({!$Record.StageName} , &quot;Explore&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_IdentifyNeeds</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; ISPICKVAL({!$Record.StageName} , &quot;Identify Needs&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_Justify</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; ISPICKVAL({!$Record.StageName} , &quot;Justify&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(ISPICKVAL({!$Record.StageName} ,&quot;Closed won - awaiting approval&quot;) || ISPICKVAL({!$Record.StageName},&quot;Order&quot; ))
&amp;&amp; 
NOT(ISCHANGED({!$Record.StageName}))
&amp;&amp; 
ISCHANGED({!$Record.CloseDate} )</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_28</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; ISPICKVAL({!$Record.StageName} , &quot;Closed Lost&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_31</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; 
(ISPICKVAL({!$Record.StageName} , &quot;Closed won - awaiting approval&quot;) || ISPICKVAL({!$Record.StageName} , &quot;Order&quot;))</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_39</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; ISPICKVAL({!$Record.StageName} , &quot;Order&quot;)</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity Stage change date (Edit)_1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Stage change date (Edit)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Update_Evaluate</name>
        <label>Update Evaluate</label>
        <locationX>2602</locationX>
        <locationY>1980</locationY>
        <connector>
            <targetReference>myRule_39_A5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Evaluate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Evaluate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Evaluate</name>
        <label>Update Evaluate</label>
        <locationX>1810</locationX>
        <locationY>1656</locationY>
        <connector>
            <targetReference>myRule_21_A5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Evaluate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Evaluate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Explore</name>
        <label>Update Explore</label>
        <locationX>1282</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Update_Identify_Needs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Expore__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Evaluate</name>
        <label>Update Evaluate</label>
        <locationX>2338</locationX>
        <locationY>1872</locationY>
        <connector>
            <targetReference>myRule_31_A5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Evaluate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Evaluate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_10_A1</name>
        <label>Update Develop Solution</label>
        <locationX>1018</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>myRule_10_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Develop_Solution__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_10_A2</name>
        <label>Update Explore</label>
        <locationX>1018</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>myRule_10_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Expore__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_10_A3</name>
        <label>Update Identify Needs</label>
        <locationX>1018</locationX>
        <locationY>1116</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Error_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Identify_Needs__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_15_A1</name>
        <label>Update Justify</label>
        <locationX>1546</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>myRule_15_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Justify__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_15_A2</name>
        <label>Update Explore</label>
        <locationX>1546</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>myRule_15_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Expore__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_15_A3</name>
        <label>Update Identify Needs</label>
        <locationX>1546</locationX>
        <locationY>1332</locationY>
        <connector>
            <targetReference>myRule_15_A4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Identify_Needs__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_15_A4</name>
        <label>Update Develop Solution</label>
        <locationX>1546</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>Update_Evaluate_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Develop_Solution__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Develop_Solution__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Checkbox</label>
        <locationX>401</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>myRule_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Closed_date_changed_after_closed_won__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_21_A1</name>
        <label>Update Closing</label>
        <locationX>1810</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>myRule_21_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Closing__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_21_A2</name>
        <label>Update Explore</label>
        <locationX>1810</locationX>
        <locationY>1332</locationY>
        <connector>
            <targetReference>myRule_21_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Expore__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_21_A3</name>
        <label>Update Identify Needs</label>
        <locationX>1810</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>myRule_21_A4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Identify_Needs__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_21_A4</name>
        <label>Update Develop Solution</label>
        <locationX>1810</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Evaluate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Develop_Solution__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Develop_Solution__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_21_A5</name>
        <label>Update Justify</label>
        <locationX>1810</locationX>
        <locationY>1764</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Error_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Justify__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Justify__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_28_A1</name>
        <label>Update Changed to close lost</label>
        <locationX>2074</locationX>
        <locationY>1332</locationY>
        <inputAssignments>
            <field>Changed_to_Closed_Lost__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_31_A1</name>
        <label>Update Closed Won date</label>
        <locationX>2338</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>myRule_31_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Changed_to_Closed_won__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_31_A2</name>
        <label>Update Explore</label>
        <locationX>2338</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>myRule_31_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Expore__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_31_A3</name>
        <label>Update Identify Needs</label>
        <locationX>2338</locationX>
        <locationY>1656</locationY>
        <connector>
            <targetReference>myRule_31_A4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Identify_Needs__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_31_A4</name>
        <label>Update Develop Solution</label>
        <locationX>2338</locationX>
        <locationY>1764</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_Evaluate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Develop_Solution__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Develop_Solution__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_31_A5</name>
        <label>Update Justify</label>
        <locationX>2338</locationX>
        <locationY>1980</locationY>
        <connector>
            <targetReference>myRule_31_A6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Justify__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Justify__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_31_A6</name>
        <label>Update Closing</label>
        <locationX>2338</locationX>
        <locationY>2088</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Error_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Closing__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Closing__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_39_A1</name>
        <label>Update Order Date</label>
        <locationX>2602</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>myRule_39_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>Changed_to_Order__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_39_A2</name>
        <label>Update Explore</label>
        <locationX>2602</locationX>
        <locationY>1656</locationY>
        <connector>
            <targetReference>myRule_39_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Expore__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_39_A3</name>
        <label>Update Identify Needs</label>
        <locationX>2602</locationX>
        <locationY>1764</locationY>
        <connector>
            <targetReference>myRule_39_A4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Identify_Needs__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_39_A4</name>
        <label>Update Develop Solution</label>
        <locationX>2602</locationX>
        <locationY>1872</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Update_Evaluate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Develop_Solution__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Develop_Solution__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_39_A5</name>
        <label>Update Justify</label>
        <locationX>2602</locationX>
        <locationY>2088</locationY>
        <connector>
            <targetReference>myRule_39_A6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Justify__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Justify__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_39_A6</name>
        <label>Update Closing</label>
        <locationX>2602</locationX>
        <locationY>2196</locationY>
        <connector>
            <targetReference>myRule_39_A7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Closing__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Closing__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_39_A7</name>
        <label>Update to Closed Won date</label>
        <locationX>2602</locationX>
        <locationY>2304</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Error_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_Changed_to_Closed_won__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Changed_to_Closed_won__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_3_A1</name>
        <label>Update Explore</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <faultConnector>
            <targetReference>Check_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_6_A1</name>
        <label>Update Identify Needs</label>
        <locationX>754</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>myRule_6_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_6_A2</name>
        <label>Update Explore</label>
        <locationX>754</locationX>
        <locationY>900</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Error_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Expore__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Expore__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Checkbox_won</name>
        <label>Update Checkbox</label>
        <locationX>3130</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Develop_Solution</name>
        <label>Update Develop Solution</label>
        <locationX>1282</locationX>
        <locationY>1332</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Error_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Develop_Solution__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Develop_Solution__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Evaluate</name>
        <label>Update Evaluate</label>
        <locationX>1282</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Explore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Evaluate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Evaluate_2</name>
        <label>Update Evaluate</label>
        <locationX>1546</locationX>
        <locationY>1548</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Error_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Evaluate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Evaluate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Identify_Needs</name>
        <label>Identify Needs</label>
        <locationX>1282</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Update_Develop_Solution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Changed_to_Identify_Needs__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checkbox_Stage_Changed_to_ClosedWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Changed_to_Identify_Needs__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1771</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <filterFormula>{!$Setup.AutomationSettings__c.Automation_Enabled__c} = true &amp;&amp;
ISCHANGED({!$Record.StageName})</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Wait_1_hour</name>
            <connector>
                <targetReference>Copy_1_of_Stage_moved_to_Closed_Won</targetReference>
            </connector>
            <label>Wait 1 hour</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Date_Changed_to_Closed_won__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
