force-app/main/default/flows/Opportunity_Add_Price_Book.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Account_Country</name>
        <label>Account Country</label>
        <locationX>2492</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_FI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CV_Subsidiary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price_Book_FI</targetReference>
            </connector>
            <label>Country FI</label>
        </rules>
        <rules>
            <name>Country_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CV_Subsidiary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price_Book_SE</targetReference>
            </connector>
            <label>Country SE</label>
        </rules>
        <rules>
            <name>Country_DK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CV_Subsidiary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price_Book_DK</targetReference>
            </connector>
            <label>Country DK</label>
        </rules>
        <rules>
            <name>Country_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CV_Subsidiary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price_Book_NO</targetReference>
            </connector>
            <label>Country NO</label>
        </rules>
        <rules>
            <name>Country_DE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CV_Subsidiary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jodocus GmbH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price_Book_DE</targetReference>
            </connector>
            <label>Country DE</label>
        </rules>
        <rules>
            <name>Country_NL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CV_Subsidiary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price_Book_NL</targetReference>
            </connector>
            <label>Country NL</label>
        </rules>
        <rules>
            <name>Country_CH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CV_Subsidiary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price_Book_CH</targetReference>
            </connector>
            <label>Country CH</label>
        </rules>
        <rules>
            <name>Country_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CV_Subsidiary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price_Book_UK</targetReference>
            </connector>
            <label>Country UK</label>
        </rules>
        <rules>
            <name>Country_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CV_Subsidiary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price_Book_US</targetReference>
            </connector>
            <label>Country US</label>
        </rules>
    </decisions>
    <decisions>
        <name>CH_PB_Found</name>
        <label>CH PB Found?</label>
        <locationX>3350</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CH_PB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Price_Book_CH.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Price_Book_CH</targetReference>
            </connector>
            <label>CH PB</label>
        </rules>
    </decisions>
    <decisions>
        <name>DE_PB_Found</name>
        <label>DE PB Found?</label>
        <locationX>2294</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DE_PB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Price_Book_DE.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Price_Book_DE</targetReference>
            </connector>
            <label>DE PB</label>
        </rules>
    </decisions>
    <decisions>
        <name>DK_PB_Found</name>
        <label>DK PB Found?</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DK_PB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Price_Book_DK.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Opp_Price_Book_FI</targetReference>
            </connector>
            <label>DK PB</label>
        </rules>
    </decisions>
    <decisions>
        <name>FI_PB_Found</name>
        <label>FI PB Found?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FI_PB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Price_Book_FI.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Price_Book_FI</targetReference>
            </connector>
            <label>FI PB</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Is_New_or_Account_Name_Updated</name>
        <label>If Is New or Account Name Updated</label>
        <locationX>3779</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_or_Account_Name_Updated</name>
            <conditionLogic>(5 AND(1 OR (2 AND 3))) OR (4 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>forIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CurrencyIsoCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Country</targetReference>
            </connector>
            <label>Is New or Account Name Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>NL_PB_Found</name>
        <label>NL PB Found?</label>
        <locationX>2822</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NL_PB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Price_Book_NL.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Price_Book_NL</targetReference>
            </connector>
            <label>NL PB</label>
        </rules>
    </decisions>
    <decisions>
        <name>NO_PB_Found</name>
        <label>NO PB Found?</label>
        <locationX>1766</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO_PB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Price_Book_NO.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Price_Book_NO</targetReference>
            </connector>
            <label>NO PB</label>
        </rules>
    </decisions>
    <decisions>
        <name>SE_PB_Found</name>
        <label>SE PB Found?</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SE_PB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Price_Book_SE.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Price_Book_SE</targetReference>
            </connector>
            <label>SE PB</label>
        </rules>
    </decisions>
    <decisions>
        <name>UK_PB_Found</name>
        <label>UK PB Found?</label>
        <locationX>3878</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UK_PB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Price_Book_UK.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Price_Book_UK</targetReference>
            </connector>
            <label>UK PB</label>
        </rules>
    </decisions>
    <decisions>
        <name>US_PB_Found</name>
        <label>US PB Found?</label>
        <locationX>4406</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>US_PB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Price_Book_US.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Price_Book_US</targetReference>
            </connector>
            <label>US PB</label>
        </rules>
    </decisions>
    <description>23092025: add Solidify as Eficode Subsidiary to the Decision Account Country
11.06.2026 Removing the Ex- Germany Subsidiary value</description>
    <environments>Default</environments>
    <formulas>
        <name>forIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity: Add Price Book {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Add Price Book</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Price_Book_CH</name>
        <label>Get Price Book CH</label>
        <locationX>3350</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_PB_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Switzerland</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_DE</name>
        <label>Get Price Book DE</label>
        <locationX>2294</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DE_PB_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Germany</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_DK</name>
        <label>Get Price Book DK</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DK_PB_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Denmark</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_FI</name>
        <label>Get Price Book FI</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FI_PB_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finland</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_NL</name>
        <label>Get Price Book NL</label>
        <locationX>2822</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NL_PB_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Netherlands</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_NO</name>
        <label>Get Price Book NO</label>
        <locationX>1766</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NO_PB_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Norway</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_SE</name>
        <label>Get Price Book SE</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SE_PB_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sweden</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_UK</name>
        <label>Get Price Book UK</label>
        <locationX>3878</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UK_PB_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>United Kingdom</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_US</name>
        <label>Get Price Book US</label>
        <locationX>4406</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_PB_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Update_Opp_Price_Book_FI</name>
        <label>Copy 2 of Update Opp Price Book FI</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Price_Book_DK.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Price_Book_CH</name>
        <label>Update Opp Price Book CH</label>
        <locationX>3218</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Price_Book_CH.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Price_Book_DE</name>
        <label>Update Opp Price Book DE</label>
        <locationX>2162</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Price_Book_DE.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Price_Book_FI</name>
        <label>Update Opp Price Book FI</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Price_Book_FI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Price_Book_NL</name>
        <label>Update Opp Price Book NL</label>
        <locationX>2690</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Price_Book_NL.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Price_Book_NO</name>
        <label>Update Opp Price Book NO</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Price_Book_NO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Price_Book_SE</name>
        <label>Update Opp Price Book SE</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Price_Book_SE.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Price_Book_UK</name>
        <label>Update Opp Price Book UK</label>
        <locationX>3746</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Price_Book_UK.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Price_Book_US</name>
        <label>Update Opp Price Book US</label>
        <locationX>4274</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Price_Book_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3653</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Is_New_or_Account_Name_Updated</targetReference>
        </connector>
        <filterFormula>({!$Setup.AutomationSettings__c.Automation_Enabled__c} = true ||
{!$Setup.AutomationSettings__c.Automation_Enabled_for_Import__c} = true ) 
&amp;&amp;
NOT(ISNULL({!$Record.AccountId}))  &amp;&amp;
{!$Record.Auto_Renewal_Automation__c} = false</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1200</triggerOrder>
</Flow>
