force-app/main/default/flows/Primary_Campaign_Source_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>New_opportunity_Created_from_case</name>
        <label>New opportunity Created from case</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>PrimaryCampaignSource_Is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_NewOppCreatedFromCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Opp_Source_Created_from_case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Inbound</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PrimaryCampaignSource_Is_changed</name>
        <label>PrimaryCampaignSource Is changed</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_PCSischanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Campaign_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Copies Custom Primary Campaign Source field to Standard fields when changed 
Default the value when opportunity is created from case</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Primary Campaign Source Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Primary Campaign Source Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ClearHub_Team</name>
        <label>ClearHub Team</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>PrimaryCampaignSource_Is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Opp_Source_Created_from_case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ClearHub Team</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Campaign_Source__c</field>
            <value>
                <stringValue>7011n0000017YkhAAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Client_Services_Team</name>
        <label>Client Services Team</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Partner_Inbound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Opp_Source_Created_from_case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Services Team</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Campaign_Source__c</field>
            <value>
                <stringValue>7011n0000017XMgAAM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Innovation_Team</name>
        <label>Innovation Team</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>ClearHub_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Opp_Source_Created_from_case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Innovation Team</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Campaign_Source__c</field>
            <value>
                <stringValue>7011n0000017YkrAAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Management_Team</name>
        <label>Management Team</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Innovation_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Opp_Source_Created_from_case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Management Team</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Campaign_Source__c</field>
            <value>
                <stringValue>7011n0000017YkmAAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Delete Standard Primary campaign source</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Primary_Campaign_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Partner_Inbound</name>
        <label>Partner Inbound</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Management_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Opp_Source_Created_from_case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner Inbound</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Campaign_Source__c</field>
            <value>
                <stringValue>7011n0000017XhAAAU</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>StrategicAccountManager</name>
        <label>Strategic Account Manager</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Support_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Opp_Source_Created_from_case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Strategic Account Manager</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Campaign_Source__c</field>
            <value>
                <stringValue>7011n0000017XMvAAM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Support_Team</name>
        <label>Support Team</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Client_Services_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Opp_Source_Created_from_case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support Team</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Campaign_Source__c</field>
            <value>
                <stringValue>7011n0000017XMlAAM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer_Inbound</name>
        <label>Update Customer Inbound</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>StrategicAccountManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Opp_Source_Created_from_case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Inbound</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Campaign_Source__c</field>
            <value>
                <stringValue>7011n0000017XMqAAM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_opportunity_Created_from_case</targetReference>
        </connector>
        <filterFormula>{!$Setup.AutomationSettings__c.Automation_Enabled__c} = true</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
