force-app/main/default/flows/PVR_Rebate_Currency_Convert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Set_Payment_Date</name>
        <label>Set Payment Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarRateDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PVR_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Get_Daily_Exchange_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Today_Date</name>
        <label>Set Today Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarRateDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Get_Daily_Exchange_Rate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Rate_Date</name>
        <label>Determine Rate Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Today_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use Today</defaultConnectorLabel>
        <rules>
            <name>Use_Payment_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PVR_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Date</targetReference>
            </connector>
            <label>Use Payment Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>VarPVRebateConvertCurrency</name>
        <dataType>Number</dataType>
        <expression>MIN({!$Record.Atlassian_PVR_Rebate__c}, 100000) * {!VarFinalRate}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>PVR Rebate Currency Convert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PVR Rebate Currency Convert Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Calculate_and_Save</name>
        <label>Calculate and Save</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>PVR_Rebate_In_Account_Currency__c</field>
            <value>
                <elementReference>VarPVRebateConvertCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Rate_Date</targetReference>
        </connector>
        <filterFormula>OR(
    ISCHANGED({!$Record.Atlassian_PVR_Rebate__c}),
    ISCHANGED({!$Record.PVR_Date__c})
  )</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Call_Get_Daily_Exchange_Rate</name>
        <label>Call Get Daily Exchange Rate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_and_Save</targetReference>
        </connector>
        <flowName>Get_Daily_Exchange_Rate_Subflow</flowName>
        <inputAssignments>
            <name>VarRateDate</name>
            <value>
                <elementReference>VarRateDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarTargetCurrency</name>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarFinalRate</assignToReference>
            <name>VarFinalRate</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Exchange Rate value from Subflow</description>
        <name>VarFinalRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Date of Exchange Rate</description>
        <name>VarRateDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
