force-app/main/default/flows/Quote_Sync_Opp_Product_to_Quote_Product_when_Quote_Product_is_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>has_discount</name>
        <label>has discount</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Total_Sales_Price_NoDiscount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Discount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_Sales_Price</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TotalSalesPrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.OpportunityLineItem.List_Price_Inc_Licence_Type__c}  - {!$Record.Discount_Value__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Quote Sync &gt; Opp Product to Quote Product when Quote Product is created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Sync &gt; Opp Product to Quote Product when Quote Product is created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Quote_Line_Item</name>
        <label>Update Quote Line Item</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>has_discount</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Info__c</field>
            <value>
                <elementReference>$Record.OpportunityLineItem.Additional_Info__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cloud_Site_Name__c</field>
            <value>
                <elementReference>$Record.OpportunityLineItem.Cloud_Site_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>$Record.OpportunityLineItem.Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entitlement_Number__c</field>
            <value>
                <elementReference>$Record.OpportunityLineItem.Entitlement_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licence_End_Date__c</field>
            <value>
                <elementReference>$Record.OpportunityLineItem.License_end_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licence_Start_Date__c</field>
            <value>
                <elementReference>$Record.OpportunityLineItem.License_Start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal__c</field>
            <value>
                <elementReference>$Record.OpportunityLineItem.Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SEN__c</field>
            <value>
                <elementReference>$Record.OpportunityLineItem.SEN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Price__c</field>
            <value>
                <elementReference>$Record.OpportunityLineItem.List_Price_Inc_Licence_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unusual_discount_reviewed__c</field>
            <value>
                <elementReference>$Record.OpportunityLineItem.Unusual_discount_reviewed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Count__c</field>
            <value>
                <elementReference>$Record.User_Count__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Sales_Price</name>
        <label>Update Total Sales Price</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Final_Price_After_Discount__c</field>
            <value>
                <elementReference>TotalSalesPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Sales_Price_NoDiscount</name>
        <label>Update Total Sales Price</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Final_Price_After_Discount__c</field>
            <value>
                <elementReference>$Record.OpportunityLineItem.List_Price_Inc_Licence_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Quote_Line_Item</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
