force-app/main/default/flows/Roll_up_Number_of_task_on_opportunity_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Completed_Task</name>
        <label>Assign Completed Task</label>
        <locationX>768</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>CountCompletedTasks2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_completed_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountCompletedTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOpenTasks</name>
        <label>AssignOpenTasks</label>
        <locationX>317</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>CountOpenTasks2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Open_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountOpenTasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Task_link_to_Opportunity</name>
        <label>Task link to Opportunity</label>
        <locationX>114</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Task.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Task.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Open_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When a task is added or status is changed, counts how many open or closed task are related to the same opportunity, and update fields accordingly</description>
    <interviewLabel>Roll up Number of task on opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll up Number of task on opportunity</label>
    <loops>
        <name>CountCompletedTasks</name>
        <label>CountCompletedTasks</label>
        <locationX>554</locationX>
        <locationY>378</locationY>
        <collectionReference>Get_All_completed_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Completed_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOpenTaskFieldOpp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CountOpenTasks</name>
        <label>CountOpenTasks</label>
        <locationX>550</locationX>
        <locationY>235</locationY>
        <collectionReference>Get_All_Open_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignOpenTasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountCompletedTasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_completed_Tasks</name>
        <label>Get All completed Tasks</label>
        <locationX>836</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountOpenTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Task.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Open_Tasks</name>
        <label>Get All Open Tasks</label>
        <locationX>603</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_completed_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Task.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Task</name>
        <label>Get Current Task</label>
        <locationX>122</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_link_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StartTaskID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpenTaskFieldOpp</name>
        <label>UpdateOpenTaskFieldOpp</label>
        <locationX>551</locationX>
        <locationY>585</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Task.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Completed_Tasks__c</field>
            <value>
                <elementReference>CountCompletedTasks2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Open_Tasks__c</field>
            <value>
                <elementReference>CountOpenTasks2</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Task</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CountCompletedTasks2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountOpenTasks2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>StartTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
