force-app/main/default/flows/Roll_Up_Team_Members_Name_to_Opp_when_Member_is_deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Infos</name>
        <label>Add Infos</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>TeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Name_comma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Role_comma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Members</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Name_comma</name>
        <dataType>String</dataType>
        <expression>&quot; &quot;&amp;{!Loop_Through_Members.Name}&amp;&quot; ,&quot;</expression>
    </formulas>
    <formulas>
        <name>Role_comma</name>
        <dataType>String</dataType>
        <expression>&quot; &quot;&amp;{!Loop_Through_Members.User.UserRole.Name}&amp;&quot; ,&quot;</expression>
    </formulas>
    <interviewLabel>Roll Up Team Members Name to Opp when Member is deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll Up Team Members Name to Opp when Member is deleted</label>
    <loops>
        <name>Loop_Through_Members</name>
        <label>Loop Through Members</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_All_Other_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Infos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Other_Members</name>
        <label>Get All Other Members</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Opportunity_Team_Names__c</field>
            <value>
                <elementReference>TeamMembers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Team_Roles__c</field>
            <value>
                <elementReference>TeamRoles</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Other_Members</targetReference>
        </connector>
        <filterFormula>{!$Setup.AutomationSettings__c.Automation_Enabled__c} = true</filterFormula>
        <object>OpportunityTeamMember</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TeamMembers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamRoles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
