force-app/main/default/flows/ScreenFlow_Add_to_T1_T2_T3_Splits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Already_Created_T1</name>
        <label>Already Created</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_T1_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasT1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_T1_Split</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_T2_Split</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_Created_T2</name>
        <label>Already Created</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Create_T2_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasT2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_T2_Split</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_T3_Split</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_Created_T3</name>
        <label>Already Created</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Create_T3_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasT3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_T3_Split</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_T1_Split</name>
        <label>Need T1 Split</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Need_T2_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES_T1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_ID.T1_Opp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_T1_Split</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_T2_Split</name>
        <label>Need T2 Split</label>
        <locationX>226</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Need_T3_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES_T2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_ID.Total_Amount_T2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp_ID.Total_Amount_T2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_T2_Split</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_T3_Split</name>
        <label>Need T3 Split</label>
        <locationX>226</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_T3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_ID.Total_Amount_T3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp_ID.Total_Amount_T3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_T3_Split</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow Add to T1 T2 T3 Splits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow Add to T1 T2 T3 Splits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_T1_Split</name>
        <label>Create T1 Split</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Need_T2_Split</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Opp_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitOwnerId</field>
            <value>
                <elementReference>User.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitPercentage</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitTypeId</field>
            <value>
                <stringValue>149P5000001tntxIAA</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_T2_Split</name>
        <label>Create T2 Split</label>
        <locationX>138</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Need_T3_Split</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Opp_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitOwnerId</field>
            <value>
                <elementReference>User.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitPercentage</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitTypeId</field>
            <value>
                <stringValue>149P5000001gAiLIAU</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_T3_Split</name>
        <label>Create T3 Split</label>
        <locationX>138</locationX>
        <locationY>1874</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Opp_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitOwnerId</field>
            <value>
                <elementReference>User.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitPercentage</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitTypeId</field>
            <value>
                <stringValue>149P5000001gAnBIAU</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_ID</name>
        <label>Get Opp ID</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Need_T1_Split</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_T1_Split</name>
        <label>Get User T1 Split</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Created_T1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>149P5000001tntxIAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_T2_Split</name>
        <label>Get User T2 Split</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Created_T2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>149P5000001gAiLIAU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_T3_Split</name>
        <label>Get User T3 Split</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Created_T3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>149P5000001gAnBIAU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_To_Split</name>
        <label>Add To Split</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opp_ID</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Add splits&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>User</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SplitOwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>OpportunitySplit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;Select the user you want to add the splits for and click &quot;Done&quot;. &lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Add to splits</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_To_Split</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
