force-app/main/default/flows/Send_Notification_to_Slack_for_AI_offering_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Slack_Message_for_Closed_Lost</name>
        <label>Send Slack Message for Closed Lost</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T029SKM7N</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C0A7AP51JQK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>ClosedLostMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message_for_Order_Stage</name>
        <label>Send Slack Message for Order Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T029SKM7N</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C0A7AP51JQK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>OrderMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Count_AI_Products_2</name>
        <label>Count AI Products 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CountAIProducts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Opportunity_Products_link_to_Opportunity_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_any_AI_Product_for_Order_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_AI_Products_3</name>
        <label>Count AI Products 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CountAIProducts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Opportunity_Products_related_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_any_AI_Product_for_Closed_Lost_Stage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Opportunity_Stage</name>
        <label>Check Opportunity Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Products_link_to_Opportunity_record</targetReference>
            </connector>
            <label>Order</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Products_related_Opportunity</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_any_AI_Product_for_Closed_Lost_Stage</name>
        <label>Find any AI Product for Closed Lost Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Founded_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountAIProducts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_Message_for_Closed_Lost</targetReference>
            </connector>
            <label>Founded record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_any_AI_Product_for_Order_Stage</name>
        <label>Find any AI Product for Order Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Founded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountAIProducts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_Message_for_Order_Stage</targetReference>
            </connector>
            <label>Founded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NetRevenueEUR</name>
        <dataType>Number</dataType>
        <expression>IF(
  TEXT({!$Record.CurrencyIsoCode}) = &quot;EUR&quot;,
  {!$Record.Net_Revenue__c},
  ROUND(
    {!$Record.Net_Revenue__c}
    / {!Get_Exchange_Rate_Opp_Currency.Exchange_Rate_from_USD_to_X__c}
    * {!Get_Exchange_Rate_EUR.Exchange_Rate_from_USD_to_X__c},
    2
  )
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Send Notification to Slack for AI offering Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Notification to Slack for AI offering Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Exchange_Rate_EUR</name>
        <label>Get Exchange Rate for EUR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Buying_Exchange_Rate__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Exchange_Rate_Opp_Currency</name>
        <label>Get Exchange Rate for Opp Currency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Exchange_Rate_EUR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Buying_Exchange_Rate__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products_link_to_Opportunity_record</name>
        <label>Get Opportunity Products link to Opportunity record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_AI_Products_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AI_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products_related_Opportunity</name>
        <label>Get Opportunity Products related Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_AI_Products_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AI_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Exchange_Rate_Opp_Currency</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ClosedLostMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Account Name: {!$Record.Account_name__c}
Opportunity Name: {!$Record.Name}
Stage: {!$Record.StageName}
Closed Lost Reason: {!$Record.Loss_Reason__c}
Closed Lost Detail: {!$Record.Other_Loss_reason__c}
Net Revenue (EUR): {!NetRevenueEUR}
Opp Owner: {!$Record.Opportunity_Owner_Name__c}
Link to Opp : &lt;https://eficode.my.salesforce.com/lightning/r/Opportunity/{!$Record.Id}/view|Open Opportunity in Salesforce&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OrderMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Account Name: {!$Record.Account_name__c}
Opportunity Name: {!$Record.Name}
Stage:{!$Record.StageName}
Net Revenue (EUR): {!NetRevenueEUR}
Opp Owner: {!$Record.Opportunity_Owner_Name__c}
Link to Opp : &lt;https://eficode.my.salesforce.com/lightning/r/Opportunity/{!$Record.Id}/view|Open Opportunity in Salesforce&gt;</text>
    </textTemplates>
    <variables>
        <name>CountAIProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
