force-app/main/default/flows/Slack_Send_won_case_notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_notification</name>
        <label>Send notification</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <actionName>custom__Opportunity_closed_notification_to_msprojecting</actionName>
        <actionType>sendNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>MS_projecting_room_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>custom__Opportunity_closed_notification_to_msprojecting</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_room_id</name>
        <label>Assign room id</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>MS_projecting_room_id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Slack_Channels.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification</targetReference>
        </connector>
    </assignments>
    <description>&quot;Won case&quot; means when a case enters status Preparing Contract.

This is sent from a separate flow because I simply could not get the async path of &quot;Slack - Send MS Support ticket notifications&quot; case flow to trigger correctly for all use cases.</description>
    <environments>Default</environments>
    <interviewLabel>Slack - Send MS Support ticket notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Slack - Send won case notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Slack_Channels</name>
        <label>Get Slack Channels</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_room_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ms-projecting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationRoom</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preparing Contract</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Slack_Channels</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MS_projecting_room_id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
