force-app/main/default/flows/T2_T3_Amounts_from_opportunity_when_Launch_Estimate_Flow_is_checked.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>This flow set T2 &amp; T3 amount based on the estimate amounts from the opportunity when the &quot;Launch Estimate Flow&quot; checkbox is manually checked. Then it unchecks it to allow another manual update if necessary</description>
    <environments>Default</environments>
    <formulas>
        <name>T2AmountEstimate</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Estimate_Consulting_Revenue__c}) &amp;&amp; NOT(ISBLANK({!$Record.Estimate_Managed_Service_Revenue__c})),{!$Record.Estimate_Managed_Service_Revenue__c}, 
IF(ISBLANK({!$Record.Estimate_Managed_Service_Revenue__c}) &amp;&amp; NOT(ISBLANK({!$Record.Estimate_Consulting_Revenue__c})),{!$Record.Estimate_Consulting_Revenue__c}, 

{!$Record.Estimate_Consulting_Revenue__c} + {!$Record.Estimate_Managed_Service_Revenue__c}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Launch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>T2 &amp; T3 Amounts from opportunity when &quot;Launch Estimate Flow&quot; is checked</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Uncheck</name>
        <label>Uncheck</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Launch_Estimates_Flows__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_T2_AND_T3</name>
        <label>Update T2 AND T3</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Uncheck</targetReference>
        </connector>
        <inputAssignments>
            <field>Total_Amount_T2__c</field>
            <value>
                <elementReference>T2AmountEstimate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount_T3__c</field>
            <value>
                <elementReference>$Record.Estimate_Licensing_GP__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_T2_AND_T3</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Launch_Estimates_Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CV_Subsiduary__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UK</stringValue>
            </value>
        </filters>
        <filters>
            <field>CV_Subsiduary__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
