force-app/main/default/flows/T3_Amounts_from_opportunity_when_Launch_Flow_is_checked.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>T3 Amounts from opportunity when &quot;Launch Flow&quot; is checked {!$Flow.CurrentDateTime}</interviewLabel>
    <label>T3 Amounts from opportunity when &quot;Launch Flow&quot; is checked</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Uncheck_Launch_Flow</name>
        <label>Uncheck &quot;Launch Flow&quot;</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Launch_Quotas_Flows__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>T3_Roll_Up</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Record.Quota_Update_Allowed__c} =true &amp;&amp;
{!$Record.Launch_Quotas_Flows__c} = true</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>T3_Roll_Up</name>
        <label>T3 Roll Up</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Uncheck_Launch_Flow</targetReference>
        </connector>
        <flowName>T3_Roll_Up</flowName>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
