force-app/main/default/flows/TASK_Add_1_to_Nb_Of_Open_Task_on_related_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Count_of_Tasks</name>
        <label>Count of Tasks</label>
        <locationX>1223</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>CountOfOpenTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Name_Task_Status</name>
        <label>Has Name Task Status</label>
        <locationX>360</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Name_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Open_Tasks</name>
        <label>Has Open Tasks</label>
        <locationX>1058</locationX>
        <locationY>208</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Open_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nb_of_Task_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Open_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_All_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>NbofOpenTaskPlus1</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_Contact.Number_of_Open_Tasks__c}) , 1, {!Get_Contact.Number_of_Open_Tasks__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Add 1 to Nb Of Open Task on related Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TASK_ Add 1 to Nb Of Open Task on related Contact</label>
    <loops>
        <name>Loop_All_Tasks</name>
        <label>Loop All Tasks</label>
        <locationX>973</locationX>
        <locationY>418</locationY>
        <collectionReference>Get_All_Open_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_of_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Nb_of_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Open_Tasks</name>
        <label>Get All Open Tasks</label>
        <locationX>894</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Open_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StartContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>683</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Open_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StartContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>131</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Name_Task_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StartTaskID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Nb_of_Task_0</name>
        <label>Nb of Task 0</label>
        <locationX>1234</locationX>
        <locationY>198</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Open_Tasks__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Nb_of_Task</name>
        <label>Update Nb of Task</label>
        <locationX>963</locationX>
        <locationY>613</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Open_Tasks__c</field>
            <value>
                <elementReference>CountOfOpenTasks</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CountOfOpenTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>StartContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
