force-app/main/default/flows/Task_Update_Due_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Dummy_decision</name>
        <label>Dummy decision</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dummy_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Dummy outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Found</name>
        <label>Lead Found?</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>Yes Lead</label>
        </rules>
    </decisions>
    <description>18012024 Jasmin/Ceili: When Task is created with Type value HubSpot Meeting and no Due Date/Time, Due Date and Due Date/Time are updated based on Lead field &quot;Date of Last Meeting Booked in HS&quot; with 2 min delay.</description>
    <environments>Default</environments>
    <formulas>
        <name>forLeadFieldDateValue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Related_Lead.Date_of_Last_Meeting_Booked_in_HS__c})</expression>
    </formulas>
    <interviewLabel>Task: Update Due Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task: Update Due Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Lead</name>
        <label>Get Related Lead</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>446</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forLeadFieldDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>Get_Related_Lead.Date_of_Last_Meeting_Booked_in_HS__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dummy_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HubSpot Meeting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Due_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Run_after_2min</name>
            <connector>
                <targetReference>Get_Related_Lead</targetReference>
            </connector>
            <label>Run after 2min</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
