force-app/main/default/flows/Update_All_Team_members_and_role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Infos</name>
        <label>Add Infos</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>TeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Name_comma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Role_comma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Members</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>FinalNames</name>
        <dataType>String</dataType>
        <expression>{!TeamMembers}</expression>
    </formulas>
    <formulas>
        <name>FinalRoles</name>
        <dataType>String</dataType>
        <expression>{!TeamRoles}</expression>
    </formulas>
    <formulas>
        <name>Name_comma</name>
        <dataType>String</dataType>
        <expression>&quot; &quot;&amp;{!Loop_Through_Members.Name}&amp;&quot; ,&quot;</expression>
    </formulas>
    <formulas>
        <name>Role_comma</name>
        <dataType>String</dataType>
        <expression>&quot; &quot;&amp;{!Loop_Through_Members.User.UserRole.Name}&amp;&quot; ,&quot;</expression>
    </formulas>
    <interviewLabel>Update All Team members and role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update All Team members and role</label>
    <loops>
        <name>Loop_Through_Members</name>
        <label>Loop Through Members</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Infos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Members</name>
        <label>Get All Members</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Opportunity_Team_Names__c</field>
            <value>
                <elementReference>FinalNames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Team_Roles__c</field>
            <value>
                <elementReference>FinalRoles</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Members</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Record.Commit_Opp_Sales_MANAGER__c} = true</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TeamMembers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamRoles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
