force-app/main/default/flows/X1st_Opportunity_Closed_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Update Account when the first opportunity for this account is closed won</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_2_myRule_9_A1_7809500185</name>
        <dataType>String</dataType>
        <expression>{!$Record.Primary_Campaign_Source_TextFormula__c}</expression>
    </formulas>
    <interviewLabel>1st Opportunity Closed Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1st Opportunity Closed Won</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_9_A1</name>
        <label>Update Account lead source</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>myRule_9_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Account_Source__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>First_Order_Date_Final__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Account_Source__c</field>
            <value>
                <elementReference>formula_2_myRule_9_A1_7809500185</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_9_A2</name>
        <label>Update First Order Date</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Order_Date_Opp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Order_Date_Opp__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_9_A1</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>ISPICKVAL({!$Record.StageName}, &quot;Closed won - awaiting approval&quot;) || ISPICKVAL({!$Record.StageName}, &quot;Order &quot;) 
&amp;&amp;{!$Setup.AutomationSettings__c.Automation_Enabled__c} = true</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder>1600</triggerOrder>
</Flow>
